body {
  margin: 0%;
  padding: 0%;
}

.user {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 2%;
  list-style: none;
}

.user.name {
  display: inline-flex;
  justify-content: space-around;
  font-size: 20px;
  height: 15px;
  align-items: baseline;
  width: 90%;
  text-decoration: none;
}

h1 {
  display: block;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
}

.user.img {
  display: block;
  align-items: flex-start;
  text-align: left;
  width: 10%;
  margin-bottom: 5%;
}

.add.user {
  margin-left: 10%;
  justify-content: flex-start;
}

.bio {
  font-size: 20px;
  margin: 5%;
  border: 2px solid;
  border-color: black;
  padding: 2.5%;
}

.user-post-preview {
  padding: 2.5%;
  border: 2px solid;
  border-color: black;
  margin: 5%;
}

.button {
  text-align: center;
}

.post.all {
  width: 70%;
  padding: 1%;
  font-size: 15px;
  font-weight: bold;
  text-decoration: wavy;
  align-items: center;
}

.post.counter {
  display: flex;
  margin-left: 40%;
  margin-bottom: 5%;
}

.index {
  display: flex;
  text-align: left;
  justify-content: flex-start;
}

.one {
  margin: 2%;
}

.users.facts {
  padding: 2.5%;
  border: 2px solid;
  border-color: black;
  width: 75%;
}
